
@charset "UTF-8";
/* CSS Document */

@font-face {
   font-family: "Imitation";
   src: url("IMIT.TTF");
  
}
        #zoomGet{
         height: 100%;
         width: 100%;
          }

#alert
{
	display: none;
	float: center;
	background-color: #6699FF
	font-weight: bold;
	text-align: center;
	color: #000000; 	
}

#tapOptions
{
	display: none;
}

a.delete{
    float:right;
    margin-top:-15px;
    margin-right:-15px;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    background: #605F61;
    font-size: 20px;
    font-weight: light;
    display: block;
    line-height: 0px;
    padding: 11px 3px;       
}

.delete:before
{
	content:"x";
}


.zoomProps{	
            height: auto;
            width: auto;
            position:absolute;
	    -webkit-user-select: auto !important;
}

          #zoomwrapper {
            height: 377px;
            width: 600px;
            overflow: hidden;
     
          }

.polaroid{

text-align: center;
-webkit-user-select: auto !important;
padding: 10px 10px 25px 10px;
background: #eee;
border: 1px solid #fff;
-moz-box-shadow: 0px 2px 15px #333;
-webkit-box-shadow:	0px 2px 15px #333;
border: 1px solid #dfdfdf;
     border: 1px solid rgba(96,96,96,0.2);
font-family:"Imitation";
font-size:24px;
color:#000;
padding-bottom:10px;
text-shadow:#333;
}

.upSky{
background: #FFFFFF;

}


body{
background:url(bg.jpg);
}

.welcome{
font-family: 'Bree Serif', serif;
font-size:24px;
color:#FFF;

        text-shadow: 1px 1px 2px #363636;
        filter: dropshadow(color=#363636, offx=1, offy=1);
        
}

.nav-glyphish-example .ui-btn .ui-btn-inner { padding-top: 40px !important; }
.nav-glyphish-example .ui-btn .ui-icon { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: 0 !important; border-radius: 0 !important; }
#home .ui-icon { background: url(glyphish-icons/53-house.png) 50% 50% no-repeat; background-size: 24px 22px; }
#beer .ui-icon {
background: url(glyphish-icons/upload-photo.png) 50% 50% no-repeat; background-size: 22px 22px;
}
#key .ui-icon { background: url(glyphish-icons/18-envelope.png) 50% 50% no-repeat; background-size: 24px 16px; }
#help .ui-icon { background: url(glyphish-icons/96-book.png) 50% 50% no-repeat; background-size: 18px 26px; }	
